.inside__border
    border: 5px solid #212121
    border-radius: 10px
    margin-top: 4rem
    padding: 2rem
    & .left
        font-size: 1.2rem
    & .circle
        display: flex
        justify-content: center
        align-items: center
        // background: #212121
        & img
            width: 350px
            // height: 300px
            border-radius: 50%


@media screen and (min-width: 320px) and (max-width: 500px)
    .inside__border
        & .left
            font-size: 1rem
        .circle
            & img
                width: 200px !important
                height: 200px

@media screen and (min-width: 500px) and (max-width: 1300px)
    .inside__border
        & .left
            font-size: 1.1rem
        .circle
            & img
                width: 250px !important
                height: 250px
@media screen and (min-width: 700px) and (max-width: 966px)
    .inside__border
        & .left
            font-size: 1.1rem
        .circle
            & img
                width: 200px !important
                height: 200px