.inside__border
    border-top: 2px solid #110e0e
    border-bottom: 2px solid #110e0e
    border-left: 1px solid #110e0e
    border-right: 1px solid #110e0e
    border-bottom-left-radius: 30px
    border-bottom-right-radius: 0px
    border-top-right-radius: 30px
    border-top-left-radius: 0px
    margin-top: 4rem
    padding: 3rem
    transition: all .6s ease-out
    &:hover
        transform: scale(1.02)
        transition: all .6s ease-out
        border-radius: 10px
    & .hero__inside
        //first child of flexbox
        & .logo
            display: flex
            align-items: center
        //second child of flexbox
        & .hero__inside
            display: flex
            color: #fffdfd
            filter: drop-shadow(10px 10px 12px #212121)
            text-shadow: 0 0 10px #212121
            & a
                text-decoration: none
            & .inside__body
                & p
                    padding: 1rem
                    margin: 1rem
                    margin-left: 0
                    text-align: left
        & .image
            & img
                width: 100%
                border-radius: 50%    
@media screen and (max-width: 700px)
    .hero__inside
        //first child of flexbox
        & .logo
            flex-direction: column
        //second child of flexbox
        & .hero__inside
            flex-direction: column
            
            & .inside__body
                order: 2
                margin-top: 1rem
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                & p
                    text-align: center !important
                    padding: .5rem !important
            & .image
                margin: 1rem
                & img
                    margin: 0
                    width: 100%