@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body
    background: linear-gradient(to right,  #9198e5, #9ce47f,)
    // background:#f8f8f8
    font-family: 'Fira Sans', sans-serif
.control
    display: flex

    //  Socials 
    //  Socials 
    //  Socials 

.my__socials
    & .facebook
        color: #212121
        font-size: 2rem
        transition: all .3s linear
        &:hover
            color: #15A2FA
    & .twitter
        color: #212121
        font-size: 2rem
        transition: all .3s linear
        &:hover
            color: #1A8CD8
    & .linkedin
        color: #212121
        font-size: 2rem
        transition: all .3s linear
        &:hover
            color: #0A66C2
    & .discord
        color: #212121
        font-size: 2rem
        transition: all .3s linear
        &:hover
            color: #5562EA
    & .reddit
        color: #212121
        font-size: 2rem
        transition: all .3s linear
        &:hover
            color: #FF4500
    & .instagram
        color: #212121
        font-size: 2rem
        transition: all .3s linear
        &:hover
            color: #5951C5
    & .whatsapp
        color: #212121
        font-size: 2rem
        transition: all .3s linear
        &:hover
            color: #43E961

@media screen and (max-width:700px)

// Socials
// Socials
// Socials
// Socials
.btn-grad
    background-image: linear-gradient(to right,#e22850 0%,  #292b35 51%, #22b95c 100%) 
    margin-top: 10px
    padding: 10px 30px
    border: 1px solid #2121211e
    text-align: center
    text-transform: uppercase
    transition: 0.5s
    background-size: 200% auto
    color: rgb(24, 18, 18)
    color: #fff
    /* box-shadow: 0 0 20px #eee */
    border-radius: 10px
    display: block
    border-top-right-radius: 10px
    border-bottom-right-radius: 0px
    border-top-left-radius: 0px
    border-bottom-left-radius: 10px
    &:hover
        border-bottom-left-radius: 0px
        border-top-right-radius: 0px
        border-bottom-right-radius: 10px
        border-top-left-radius: 10px
        background-position: right center 
        color: #f7f0f0
        text-decoration: none
        border: 1px solid #2121211e

    

@media screen and (min-width: 200px) and (max-width: 767px)
    .social_links
        order: 0
        margin-top: 2rem

    .main
        order: 1

    