@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background: -webkit-gradient(linear, left top, right top, from(#9198e5), to(#9ce47f));
  background: linear-gradient(to right, #9198e5, #9ce47f);
  font-family: 'Fira Sans', sans-serif;
}

.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my__socials .facebook {
  color: #212121;
  font-size: 2rem;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.my__socials .facebook:hover {
  color: #15A2FA;
}

.my__socials .twitter {
  color: #212121;
  font-size: 2rem;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.my__socials .twitter:hover {
  color: #1A8CD8;
}

.my__socials .linkedin {
  color: #212121;
  font-size: 2rem;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.my__socials .linkedin:hover {
  color: #0A66C2;
}

.my__socials .discord {
  color: #212121;
  font-size: 2rem;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.my__socials .discord:hover {
  color: #5562EA;
}

.my__socials .reddit {
  color: #212121;
  font-size: 2rem;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.my__socials .reddit:hover {
  color: #FF4500;
}

.my__socials .instagram {
  color: #212121;
  font-size: 2rem;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.my__socials .instagram:hover {
  color: #5951C5;
}

.my__socials .whatsapp {
  color: #212121;
  font-size: 2rem;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.my__socials .whatsapp:hover {
  color: #43E961;
}

.btn-grad {
  background-image: -webkit-gradient(linear, left top, right top, from(#e22850), color-stop(51%, #292b35), to(#22b95c));
  background-image: linear-gradient(to right, #e22850 0%, #292b35 51%, #22b95c 100%);
  margin-top: 10px;
  padding: 10px 30px;
  border: 1px solid #2121211e;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: #181212;
  color: #fff;
  /* box-shadow: 0 0 20px #eee */
  border-radius: 10px;
  display: block;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 10px;
}

.btn-grad:hover {
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  background-position: right center;
  color: #f7f0f0;
  text-decoration: none;
  border: 1px solid #2121211e;
}

@media screen and (min-width: 200px) and (max-width: 767px) {
  .social_links {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-top: 2rem;
  }
  .main {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
/*# sourceMappingURL=index.css.map */