@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
body
    background: linear-gradient(to right,  #9198e5, #9ce47f,)
    // background:#f8f8f8
    font-family: 'Fira Sans', sans-serif
.control
    display: flex

    //  Socials 
    //  Socials 
    //  Socials 

.my__socials
    & .facebook
        color: #212121
        font-size: 2rem
        transition: all .3s linear
        &:hover
            color: #15A2FA
    & .twitter
        color: #212121
        font-size: 2rem
        transition: all .3s linear
        &:hover
            color: #1A8CD8
    & .linkedin
        color: #212121
        font-size: 2rem
        transition: all .3s linear
        &:hover
            color: #0A66C2
    & .discord
        color: #212121
        font-size: 2rem
        transition: all .3s linear
        &:hover
            color: #5562EA
    & .reddit
        color: #212121
        font-size: 2rem
        transition: all .3s linear
        &:hover
            color: #FF4500
    & .instagram
        color: #212121
        font-size: 2rem
        transition: all .3s linear
        &:hover
            color: #5951C5
    & .whatsapp
        color: #212121
        font-size: 2rem
        transition: all .3s linear
        &:hover
            color: #43E961
.work
    font-size: inherit
    padding: .1rem
@media screen and (min-width: 200px) and (max-width: 767px)
    .social_links
        order: 0
        margin-top: 2rem

    .main
        order: 1

    .work
        padding: 0
        fontSize: .6rem !important

    