html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  -webkit-animation: slide 3s ease-in-out infinite alternate;
          animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-20deg, #f30808 50%, #070301 50%);
  bottom: 0;
  left: -100%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.bg3 {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

body {
  text-align: center;
}

svg {
  width: 200px;
}

.circle1 {
  fill: #ff7b80;
  -webkit-animation: c1 2000ms forwards, bounce 800ms 2000ms forwards, c1-check 500ms 2600ms forwards linear;
          animation: c1 2000ms forwards, bounce 800ms 2000ms forwards, c1-check 500ms 2600ms forwards linear;
}

.circle2 {
  fill: #007b80;
  -webkit-animation: c2 2000ms forwards, bounce 800ms 2000ms forwards;
          animation: c2 2000ms forwards, bounce 800ms 2000ms forwards;
}

.check {
  opacity: 0;
  -webkit-animation: show-check 400ms 2400ms forwards;
          animation: show-check 400ms 2400ms forwards;
}

@-webkit-keyframes c1 {
  30% {
    -webkit-transform: translateY(-350px);
            transform: translateY(-350px);
  }
  70% {
    -webkit-transform: translateY(350px);
            transform: translateY(350px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes c1 {
  30% {
    -webkit-transform: translateY(-350px);
            transform: translateY(-350px);
  }
  70% {
    -webkit-transform: translateY(350px);
            transform: translateY(350px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes c2 {
  30% {
    -webkit-transform: translateY(350px);
            transform: translateY(350px);
  }
  70% {
    -webkit-transform: translateY(-350px);
            transform: translateY(-350px);
    fill: #007b80;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    fill: #2688d3;
  }
}

@keyframes c2 {
  30% {
    -webkit-transform: translateY(350px);
            transform: translateY(350px);
  }
  70% {
    -webkit-transform: translateY(-350px);
            transform: translateY(-350px);
    fill: #007b80;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    fill: #2688d3;
  }
}

@-webkit-keyframes c1-check {
  0% {
    fill: #2688d3;
  }
  100% {
    -webkit-transform: translate3d(-160px, -240px, 0) scale3d(1.4, 1.4, 0);
            transform: translate3d(-160px, -240px, 0) scale3d(1.4, 1.4, 0);
    opacity: 0;
  }
}

@keyframes c1-check {
  0% {
    fill: #2688d3;
  }
  100% {
    -webkit-transform: translate3d(-160px, -240px, 0) scale3d(1.4, 1.4, 0);
            transform: translate3d(-160px, -240px, 0) scale3d(1.4, 1.4, 0);
    opacity: 0;
  }
}

@-webkit-keyframes show-check {
  0% {
    -webkit-transform: translate3d(80px, 120px, 0) scale3d(0.8, 0.8, 1);
            transform: translate3d(80px, 120px, 0) scale3d(0.8, 0.8, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes show-check {
  0% {
    -webkit-transform: translate3d(80px, 120px, 0) scale3d(0.8, 0.8, 1);
            transform: translate3d(80px, 120px, 0) scale3d(0.8, 0.8, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  50% {
    -webkit-transform: translate3d(160px, 240px, 0) scale3d(0.6, 0.6, 1);
            transform: translate3d(160px, 240px, 0) scale3d(0.6, 0.6, 1);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}

@keyframes bounce {
  50% {
    -webkit-transform: translate3d(160px, 240px, 0) scale3d(0.6, 0.6, 1);
            transform: translate3d(160px, 240px, 0) scale3d(0.6, 0.6, 1);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}
/*# sourceMappingURL=style.css.map */